.loop{

 top : -40px;
 left : 0px;
 animation-name:drive;
 animation-duration:20s;
 animation-fill-mode:both;
 animation-iteration-count:infinite;
 color: #f71d45;
 overflow: hidden;
 
 
}
.header{
 margin-top:50px;
}
.stylecss{
width: 2000px;
margin-top:-10px;
position: relative;
background-color: #ef97a7;
font-weight: bolder;
font-family: Acme, sans-serif;

}
@keyframes drive{
	from { transform: translateX(-400px)}
	to { transform: translateX(1200px)}

	}
body {
   background: #fff;
   color: 333;	
   overflow-x:hidden;
}
 
@media all and (max-width: 320px) {
   body {
      background: #e7e7e7;
   }
}